@model IEnumerable<ConsumeNexos.Models.AutoresViewModel>

@{
    ViewBag.Title = "IndexAutores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IndexAutores</h2>

<p>
    @Html.ActionLink("Crear Autor", "createAutor")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.IdAutor)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Nombres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CiudadNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.IdAutor)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CiudadNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
